{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyNtFw/R9/wU7eqwSkkfEzp+"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"markdown","source":["* fastapi\n","* uvicorn\n","* pandas\n","* scikit-learn\n","* joblib\n","* pydantic\n","* pytest"],"metadata":{"id":"taxlNBoKxwmu"}}]}